.dotContainer {
  display: flex;
}
.imageContainer {
  /* position: relative; */
  max-width: 150px;
  height: 150px;
  overflow: hidden;
}
.slide {
  position: absolute;
}
span {
  width: 10px;
  height: 10px;
  background-color: palegoldenrod;
  border: 1px solid;
  display: block;
  margin: 5px;
  border-radius: 50%;
}
span.active {
  background-color: gold;
}
